<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
{{vm.user.firstName}}<br><a href="#!/createblog" class="btn btn-info" role="button">Create Blog</a>
<a href="#!/postjob" class="btn btn-info" role="button">Post Job</a>
<a href="#!/addfriend" class="btn btn-info" role="button">Add Friend</a>
<a href="#!/friendrequest" class="btn btn-info" role="button">Request Friend</a>
<a href="#!/addfriend" class="btn btn-info" role="button">Add Friend</a>
<a href="#!/friend" class="btn btn-info" role="button">My Friend</a>
<a href="#!/chat" class="btn btn-info" role="button">Chat</a>
<h3>All registered users:</h3>

    <form action="/createblog"">
    <table class="table table-striped" >
    <thead >
      <tr>
        <th>UserId</th>
        <th>UserName</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Role1</th>
        <th>Role2</th>
      </tr>
    </thead>
    <tbody ng-repeat="user in vm.allUsers">
    <tr>
     <td>  {{user.userId}}</td><td> {{user.username}}</td><td> {{user.firstName}}</td><td> {{user.lastName}}</td>
        <td><a ng-click="vm.deleteUser(user.userId)" class="btn btn-info" role="button">Delete</a></td>
        
        <td><a ng-hide="user.role=='admin'" ng-click="vm.makeAdmin(user.userId)" class="btn btn-info" role="button">make admin</a></td>
    </tr>
    </tbody>
    </table>    
    
    </form>

<p>&nbsp;</p>
<p><a href="#!/login" ng-click="vm.logout(user.userId)" class="btn btn-primary">Logout</a></p>
